{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12 text-center mb-4">
        <h2>Welcome, {{ current_user.username }}</h2>
        <h3>Your Balance: ${{ balance }}</h3>
    </div>
</div>

<div class="row mb-4">
    <div class="col text-end">
        <!-- Buton pentru a adăuga tranzacții -->
        <a href="{{ url_for('add') }}" class="btn btn-primary btn-lg">Add Transaction</a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Transactions</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Category</th>
                    <th>Type</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for expense in expenses %}
                <tr>
                    <td>${{ expense[1] }}</td>
                    <td>{{ expense[2] or 'N/A' }}</td>
                    <td>{{ expense[3] }}</td>
                    <td>
                        <a href="/delete/{{ expense[0] }}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
